<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- POUR LA CHAINE DE CONNEXION A LA BASE DE DONNEE-->
      <!--<add key="serveur" value="172.16.0.8" />-->
      <add key="serveur" value="localhost" />
      <add key="database" value="extranet"/>
    </appSettings>
</configuration>