<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- POUR LA CHAINE DE CONNEXION A LA BASE DE DONNEE-->
      <!--<add key="serveur" value="172.16.0.11" />-->
      <add key="serveur" value="10.101.0.2" />
      <add key="database" value="extranet"/>
    
      <!-- _________PREFERENCES UTILISATEUR ___________ -->
      <!-- Nombre de jours pour la notif bientot date butoire d'une tache -->
      <add key="nb_jours_notif" value="3"/>
      <!-- Nombre de jours pour la supression d'une tache réalisée-->
      <add key="nb_jours_supression" value="7"/>
    </appSettings>
</configuration>